/**
        * Example of an initial loading indicator.
        * It is recommended to keep this as minimal as possible to provide instant feedback
        * while other resources are still being loaded for the first time
        */
html, body {
    height: 100%;
    /*background-color: #1985D0*/
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #5775b5), color-stop(100%, #3f5d9b));
    background-image: -webkit-radial-gradient(#5775b5, #3f5d9b);
    background-image: -moz-radial-gradient(#5775b5, #3f5d9b);
    background-image: -o-radial-gradient(#5775b5, #3f5d9b);
    background-image: -ms-radial-gradient(#5775b5, #3f5d9b);
    background-image: radial-gradient(#5775b5, #3f5d9b);
}

#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

#appLoadingIndicator > * {
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}

@-webkit-keyframes appLoadingIndicator{
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}

/* Increase height of list item so title and narrative fit */
.x-list .x-list-item .x-list-item-label
{
     min-height: 3.5em!important;
}
/* Move the disclosure button up to account for the list item height increase */
.x-list .x-list-disclosure {
position: absolute;
bottom: -0.15em;
right: 0.44em;
}
.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    padding-right:25px;
    line-height:150%;
    margin-top: 0;
}
.list-item-narrative
{
    width:95%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;   
    padding-right:25px;
}
.x-item-selected .list-item-title 
{
    color:#ffffff;
    height: 400%;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}
.notes-list-empty-text 
{
    padding:10px;
}

.login-view {
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #5775b5), color-stop(100%, #3f5d9b));
    background-image: -webkit-radial-gradient(#5775b5, #3f5d9b);
    background-image: -moz-radial-gradient(#5775b5, #3f5d9b);
    background-image: -o-radial-gradient(#5775b5, #3f5d9b);
    background-image: -ms-radial-gradient(#5775b5, #3f5d9b);
    background-image: radial-gradient(#5775b5, #3f5d9b);
}

.login-view .logo {
    background: transparent url("../images/raxaLogo.png") no-repeat center center;
    background-size: 200px 182px;
    width: 200px;
    height: 182px;
    margin: 2em auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .login-view .logo {
        background-image: url("../images/raxaLogo@2x.png");
    }
}

.login-view .x-form {
    margin-bottom: 1em;
}

.login-view .x-field-text {
    width: 14em;
}
/* line 40, ../sass/app.scss */
.login-view .x-field-text .x-input-el::-webkit-input-placeholder {
    color: #b3b3b3;
}

.login-view .login {
    border-bottom: 1px solid #d3d3d4;
    display: inline-block;
    margin: 1px 1px 0 1px;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    -ms-border-radius: 0.5em 0.5em 0 0;
    -o-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
}

.login-view .password {
    border-top: 1px solid #f7f7f8;
    margin: 0 1px 1px 1px;
    -webkit-border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    -ms-border-radius: 0 0 0.5em 0.5em;
    -o-border-radius: 0 0 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
}

.login-view .login-btn {
    width: 14em;
    border: none;
    margin-bottom: 6em;
    min-height: 2.2em;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaebec), color-stop(100%, #b9bfc7));
    background-image: -webkit-linear-gradient(#eaebec, #b9bfc7);
    background-image: -moz-linear-gradient(#eaebec, #b9bfc7);
    background-image: -o-linear-gradient(#eaebec, #b9bfc7);
    background-image: -ms-linear-gradient(#eaebec, #b9bfc7);
    background-image: linear-gradient(#eaebec, #b9bfc7);
    -webkit-box-shadow: 0 1px 1px #f2f2f2 inset, 0 1px 3px #444444;
    -moz-box-shadow: 0 1px 1px #f2f2f2 inset, 0 1px 3px #444444;
    box-shadow: 0 1px 1px #f2f2f2 inset, 0 1px 3px #444444;
}

.login-view .login-btn .x-button-label {
    color: #565655;
}

.login-view .login-btn.x-button-pressing {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd1d4), color-stop(100%, #9da5b0));
    background-image: -webkit-linear-gradient(#cfd1d4, #9da5b0);
    background-image: -moz-linear-gradient(#cfd1d4, #9da5b0);
    background-image: -o-linear-gradient(#cfd1d4, #9da5b0);
    background-image: -ms-linear-gradient(#cfd1d4, #9da5b0);
    background-image: linear-gradient(#cfd1d4, #9da5b0);
}

/* Main Menu*/

.viewport-inner {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.mainmenu {
    background: #1d1d1d;
}

.mainmenu .divider {
    font-size: 0.7em;
    color: #a3a3a3;
    padding: 0.2em 1em;
    border-bottom: 1px solid #161616;
    background: #1d1d1d;
}

.x-button-mainmenu, .x-button-login {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: #262626;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #161616;
    border-width: 1px 0;
    height: 3em;
}

.x-button-mainmenu, .x-button-mainmenu .x-button-label, .x-button-mainmenu .x-badge, .x-button-login, .x-button-login .x-button-label, .x-button-login .x-badge {
    color: #FFF;
    text-align: left;
}

.x-button-mainmenu.x-button-pressing, .x-button-login.x-button-pressing {
    background-color: #000;
    background-image: none;
}

.x-button-mainmenu.x-button-pressing, .x-button-mainmenu.x-button-pressing .x-button-label, .x-button-mainmenu.x-button-pressing .x-badge, .x-button-login.x-button-pressing, .x-button-login.x-button-pressing .x-button-label, .x-button-login.x-button-pressing .x-badge {
    color: #888;
}

.x-toolbar {
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #5775b5), color-stop(100%, #3f5d9b));
    background-image: -webkit-radial-gradient(#5775b5, #3f5d9b);
    background-image: -moz-radial-gradient(#5775b5, #3f5d9b);
    background-image: -o-radial-gradient(#5775b5, #3f5d9b);
    background-image: -ms-radial-gradient(#5775b5, #3f5d9b);
    background-image: radial-gradient(#5775b5, #3f5d9b);
}